.Movie{
    width: 200px;
    margin: 10px;
    padding: 5px;
    border: #460075 solid 0px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s linear;
}
.Movie:hover {
    width: calc(200px - 20px);
    border: #460075 solid 10px;
    transition: all 0.2s linear;
}
/* The poster image needs to fill the component width  */
.Movie .moviePoster img{
    width: 100%;
    border-radius: 5px;
}

/* The title of the movie */
.title{
    font-size: 130%;
    font-weight: bold;
    height: 5%;
}
