/* Flexbox containing all the movies in the list */
#movies{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* The button to load more movies */
.MovieList .update{
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
    border-radius: 20px;
    border: 3px solid rgb(221, 152, 255);
}
