.navContents{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* The buttons in the nav bar */
button{
    margin: 5px;
    font-weight: normal;
    padding: 2px;
    background-color: rgb(115, 75, 115);
}
/* Hover for navBar buttons   */
button:hover{
    background-color: rgb(96, 0, 96);
}
