.NavBar{
    position:fixed; /*Always stay on the right of the screen */
    background-image: linear-gradient(180deg, #16002a, #16002a 80%, #16002a00);
    width: 100vw;
    height: 235px;
}
.navContents{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    font-size: 400%;
    margin: 20px;
}

/* The div conatining all the search elements */
.search{
    border: 2px solid #301d42;
    padding: 1px 1px 1px 3px;
    margin: 10px;
    border-radius: 10px;
}
.NavBar input{
    width: 30vw;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border: 0px solid rgb(255, 231, 255);
    background-color: #543f68;
    color: rgb(255, 231, 255);
}
.NavBar input::placeholder{
    color: rgb(166, 148, 166);
    padding: 0px 10px;
}
.NavBar input:hover{
    background-color: #3d3246;
}
/* The buttons in the nav bar */
.NavBar button{
    margin: 0px;
    padding: 7px 15px;
    font-weight: normal;
    font-size: 20px;
}
/* Hover for navBar buttons   */
button:hover{
    background-color: rgb(96, 0, 96);
}

#sort-text{
    font-size: 25px;
}

#sort-playlists{
    width: 15vw;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(255, 231, 255);
    background-color: #301d42;
    color: rgb(255, 231, 255);

}

#sort-playlists:hover{
    background-color: #3d3246;

}
