/* The Modal (background) */
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #2c0049;
    margin: 10vh 10vw; /* 15% from the top and centered */
    padding:20px;
    border: 1px solid #8700b4;
    width: 80vw; /* Could be more or less, depending on screen size */
    max-height: 80vh;
    overflow: auto;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(0, 0, 0)

  }
/* Helper classes to show and hide the modal */
.modalVisible{
    display: block;
}
.modalHidden{
    display: none;
}


  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* The large poster on the right */
  .poster-large{
    width: 300px;
  }

/* Flexbox containing the poster and moreInfo(text to right of poster) */
#pop-header{
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}
/* The title  */
.titlePop{
  font-size: xx-large;
  font-weight: bold;
}
/* Each individual detail to the left */
.detailPop{
  margin: 20px 0px;
}


/* The text to the right of the poster */
#movie-info{
    text-align: left;
}

/* Flexbox containing the description and backdrop */
.moreInfo{
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px 10px;
  text-align: left;
}
/* The backdrop to the right of the description text */
.backdrop-large{
    width: 40vw;
}
/* The overview(description) text */
.overviewPop{
    font-size: large;
}
