.App {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}

/* Split the sideBar and rest of the website into portion */
/* TODO: Goal to try to do with CSS grid */
main{
  width: 100%;
}
nav{
  width: 60px;
}
