.App {
  text-align: center;
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Split the sideBar and rest of the website into portion */
/* TODO: Goal to try to do with CSS grid */
main{
  width: 90vw;
}
nav{
  width: 1vw;
}
