body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #16002a;
  color: white;
}

button{
  margin: 5px;
  font-weight: normal;
  padding: 5px;
  background-color: rgb(115, 0, 115);
  border: 3px solid rgb(48, 0, 48);
  color: white;
  font-size: 100%;
  border-radius: 10px;
}
button:hover{
  background-color: rgb(132, 62, 132);
}

/* Easy way to bold and increases size of important  elements */
.bold{
  font-weight: bold;
  font-size: x-large;
}
